@model SearchFill.Models.SpeciesViewDTO

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Species</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>

        @foreach (var image in Model.ImagesBase64)
        {
            <dd class="col-sm-10">
                <img src="@image" width="200" height="200" />
            </dd>
        }

    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
