@model SearchFill.Models.UserRoleDTO

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-md-4">
        <form method="post" action="/UserRole/EditRole/?email=@Model.Email" id="formDemo">
            <div class="form-group">
                <a>@Model.Email</a>
            </div>
            <div class="form-group">
                @foreach (var role in Model.Roles)
                {
                    <input type="checkbox" id="@role.Key" name="Role" value="@role.Key">
                    <label for="@role.Key">@role.Key</label><br>
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

