@model SearchFill.Models.UserRoleDTO

@{
    ViewData["Title"] = "Detail";
}

<h1>Edit</h1>

<h4>User</h4>
<div>
    <hr />
    <form asp-action="Edit">
        <input type="hidden" name="guid" value="@Model.Guid" />
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-3">

            </dt>
            <dd class="col-sm-9">

            </dd>
            <dt class="col-sm-3">
                @Html.DisplayName("Roles")
            </dt>
            <dd class="col-sm-9">
                @foreach (var role in Model.Roles)
                {
                    <p>
                        <input type="checkbox" id="@role.Key" name="Role" value="@role.Key" @( role.Value == true ? "checked" : "" ) />
                        <text>@role.Key</text>
                    </p>
                }
            </dd>
        </dl>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </form>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>


